.test-block {
  width:100px;
  /* height: 20px; */
  background:#ddd;
  opacity: 1;
}

:global .slide-fade-enter-active {
  transition: all 3s ease;
}
:global .slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
:global .slide-fade-enter, :global .slide-fade-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

:global .tao-enter {
  width: 100px;
}
:global .tao-enter-active {
  transition: all 1s ease;
}