.add-user-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(7,17,77,.2);
}

.add-user-form {
  position: absolute;
  width: 500px;
  height: 360px;
  border-radius: 5px;
  background: rgba(255,255,255,.1);
  left: calc(50% - 250px);
  top:calc(50% - 170px);
  padding: 20px 40px;
  box-sizing: border-box;
}

.add-user-form p {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.add-user-form p span {
  display: inline-block;
  width: 20%;
  margin-right: 20px;
  text-align: right;
}

.input-radio label {
  margin-right: 20px;
}

.btn-box {
  margin-left: 100px;
}

.btn-box span, .change-user-btn span {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  background: #66b1e9;
  cursor: pointer;
  margin-right: 20px;
}

.btn-box span:hover {
  background: #2c97e7;
}