.list-container {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  overflow-x:hidden;
  margin-top: 100px;
  background: -webkit-gradient(linear,left top, right bottom, from(#485563), to(#29323c));
  margin-left: calc(50% - 300px);
  color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  font-size: 16px;
}

.add-user {
  display: block;
  width: 100px;
  margin: 10px 20px 5px 20px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: rgba(255,255,255,.1);
  cursor: pointer;
  color: #fff;
}
.add-user:hover {
  background: rgba(255,255,255,.2);
}